.secondary-content a:hover {
  text-decoration: underline;
}

.see-more-link a:hover {
  text-decoration: underline;
}

li.disabled {
  color: #D3D3D3; 
}

.secondary-content {
  top: 4px !important;
  font-size: 13px;
  width: 100px;
  line-height: 19px;
}

.submit-button {
  width: 150px;
  padding-left: 15px; 
  padding-right: 15px; 
}

#joblist .collection-item {
  padding-left: 20px;
}

/* general */
.row-stacked {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* token list */
#tokenlist.collection {
  font-size: 11.5px;
  border-left: unset;
  border-right: unset;
}

/* history list */
#historylist.collapsible {
  border-left: unset;
  border-right: unset;
  box-shadow: unset;
  font-size: 13px;
}

/* tabs */
.tabs .tab a.active {
  color: #21a5d2;
}

.tabs .tab a:hover {
  color: #21a5d2;
}

.tabs .tab a {
  color: #969696;
}

.tabs .indicator {
  background-color: #f38b00;
}

/* switch button */
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #f38b00 !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #ffd092 !important;
}

/* Tutorial Video Icon */
.tutorial-video-icon {
  vertical-align: top;
}

/* padding top */
.padding-top {
  padding-top: 15px;
}

/* materilize overriding */
textarea.materialize-textarea {
  padding: 1.5rem 0 0 0 !important;
}

/* card alert */
.card-alert {
  margin: 0.5rem 0 0rem 0;
}
.card-content.card-alert-content {
  padding: 10px;
  display: table;
}
.card-alert p {
  top: 16px;
  font-size: 14px;
  padding-left: 6px;
  display: table-cell;
  vertical-align: middle;
}
.card-alert i {
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
}
.card-alert .clearmark {
  background: none;
  border: none;
  font-size: 18px;
  color: #03a9f4;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 10px;
}

/* twitter button */
.twitter-wjs {
  /* display: inline; */
}

/* table inside table - history table */
tr.shown:hover {
  background-color: unset !important;
}
.history-table {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.history-table tbody tr {
  background-color: #E7F2FE !important;
}
.history-table td {
  text-align: left !important;
  padding-left: 20px !important;
}
.show-more {
  width: 1%;
}
.delete-record {
  width: 1%;
}

/* debug request */
.debug-card-btn {
  margin-top: 20px;
  width: 100%;
}

/* for wrapping text in datatable */
table pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 word-break: break-all;
 font-size: 15px;
 font-family: Consolas;
}








