/*
colour pallette:
999797
656565
2C2C2C
000000
030202
*/

*,
*:before,
*:after {
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
	display: block;
	position: fixed;
}
.conversionSummary {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 23px;
  }
  
body {
	margin: 0;
	background-color: #222222;
	font-size: 20px;
	color: white;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
	margin-bottom: 12px;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: #999797;
}
h3 {
	font-size: 20px;
	font-weight: 600;
	color: #656565;
	text-align: center;
	margin: 10px;
}
h4 {
	font-size: 17px;
	font-weight: 800;
	color: #656565;
	text-align: center;
	margin: 10px;
}
[class*="row-"] {
	margin-bottom: 20px;
}
[class*="row-"]:last-child {
	margin-bottom: 0;
}
[class*="col-"] {
	margin-top: 0px;
	margin-right: 0px;
	float: left;
	border: 1px solid #030202;
	padding: 12px 12px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background-color: #2C2C2C;
}
[class*="col-"]:last-child {
	margin-right: 0;
}
.col-1-4-box {
	width: 25%;
	min-height: 100px;
	max-height: 100px;
	overflow: hidden;
	padding: 1px;
	padding-bottom: 10px;
}
.col-1-2-box {
	width: 50%;
}
.col-full-box {
	width: 100%;
	text-align: left;
	display: block;
	float: none;
	overflow: auto;
}
#detailsBox1Title{
	margin-top: 100px;
}

.col-full-box-nonImage {
	margin-top: auto;
	width: 100%;
	text-align: left;
	display: block;
	float: relative;
	overflow: auto;
}
.col-image-box {
	margin-top: 100px;
	width: 100%;
	text-align: center;
	display: block;
	float: none;
	padding: 0px;
}
[class*='detailed-results'] {
	margin: 0px auto;
	color: #656565;
}
[class*='detailed-results'] th {
	padding: 10px;
	color: #999797;
}
[class*='detailed-results'] td {
	text-align: center;
}
[class*='detailed-results'] td.UrlData {
	text-align: left;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	text-align: left;
	max-width:1200px;
}
[class='detailed-results-a2'] th {
	padding-left: 100px;
	padding-right: 100px;
}
.error {
	color: red;
}
.warning {
	color: #FFDE00;
}
.success {
	color: green;
}
.imageCompareTable {
	margin: 0px auto;
	margin-bottom:20px;
	margin-top:10px;
}
.imageCompareTable th {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: underline;
	min-width: 300px;
}
#compareUrlTitle {
	font-size: 14px;
}
.urlInfo:hover {
	background-color: black;
}
.toggleBoxMessage {
	margin-top:10px;
	margin-bottom:20px;
	color: #eee9e9;
}
.imageCompareViewer {
	margin-top: 20px;
	margin-bottom: 20px;
}
a:link {
	color: #656565;
}
a:hover {
	color: white;
}
a:visited {
	color: #656565;
}
.piezConfigMessageHeader {
	font-size: 25px;
	color: yellow;
	text-align: center;
	width: 50%;
	margin: auto;
}
.piezConfigMessageSteps ol {
	list-style-position: inside;
	font-size: 15px;
	color: yellow;
	text-align: left;
	width: 30%;
	margin: auto;
}
.selectedImage {
	border: solid 4px green;
	color: green;
	padding:10px;
}
.unselectedImage {
	color: #656565;
	border: solid 4px #2C2C2C;
	padding:10px;
}
.selectedImage:hover {
	cursor: pointer;
	color: white;
	background-color: black;
}
.unselectedImage:hover {
	cursor: pointer;
	color: white;
	background-color: black;
}
.toggleOriginalImage 	{
	position: absolute;
	border: 1px solid #999797;
}
.toggleTransformedImage {
	position: relative;
	border: 1px solid #999797;
}
.imageToggleBox {
	margin-bottom: 20px;
}
.imageToggleBox:hover {
	cursor: pointer;
}
#videoToggleBox {
	margin-bottom: 20px;
}
#videoToggle {
	max-height: 400px;
	max-width: 100%;
}
#videoToggleControls {
	padding-bottom: 15px;
}
.ajaxLoader {
	width: 60px;
	height: 60px;
	border: 1px solid #FFFFFF;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #000000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-name:loader;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes loader {
	0%{ -webkit-transform:  rotate(0deg); }
	100%{ -webkit-transform:  rotate(360deg); }
}
.row {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -10px;
	margin-bottom: 0px;
}
.rowFixTop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100px;
}
.details {
	overflow: visible;
}
td {
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	white-space:nowrap;
}

.subHeaderInfo {
	text-align: center;
}

@media all and ( max-width: 1920px ) {
	.detailed-results td.urlData {
		max-width:1000px;
	}
}

@media all and ( max-width: 1600px ) {
	h1 {
		 margin-bottom: 12px;
		 text-align: center;
		 font-size: 20px;
		 font-weight: 400;
		 color: #999797;
		 min-height: 48px;
	}
	h3 {
		 font-size: 17px;
		 font-weight: 600;
		 color: #656565;
		 text-align: center;
		 margin: 10px;
	}
	h4 {
		font-size: 17px;
		font-weight: 800;
		color: #656565;
		text-align: center;
		margin: 10px;
    }
	table {
		font-size: 14px;
	}
	[class*="col-"] {
		margin-right: 0px;
		float: left;
		border: 1px solid #030202;
		padding: 0px 12px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		background-color: #2C2C2C;
	}
	.detailed-results td.urlData {
		max-width:700px;
	}
}

@media all and ( max-width: 1200px ) {
	h1 {
		 text-align: center;
		 font-size: 16px;
		 font-weight: 400;
		 color: #999797;
		 min-height: 33px;
	}
	[class*="col-"] {
		padding: 15px 10px;
		vertical-align: middle;
	}
	h3 {
		 font-size: 15px;
		 font-weight: 600;
		 color: #656565;
		 text-align: center;
		 margin: 10px;
	}
	h4 {
		font-size: 17px;
		font-weight: 800;
		color: #656565;
		text-align: center;
		margin: 10px;
    }
	table {
		font-size: 12px;
	}
	.col-4-box {
		min-height: 150px;
		overflow: scroll;
	}

	.detailed-results td.urlData {
	    max-width:300px;
	}
}

@media all and ( max-width: 720px ) {
	h1 {
		 margin-bottom: 17px;
	}
	[class*="col-"] {
		margin-right: 0px;
		float: left;
		border: 1px solid #030202;
		padding: 50px 25px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		background-color: #2C2C2C;
	}
	.col-4-box {
		min-height: 150px;
		overflow: scroll;
	}

	.detailed-results td.urlData {
	 max-width:200px;
	}
}

/* Scroll on images and videos*/

#table-wrapper1 {
	position:relative;
}
#table-scroll {
	height:50%;
	overflow:auto;  
}
#table-wrapper2 {
	position:relative;
	border: 2px black;
	padding: 5px red;
}
#table-wrapper1 table {
	width:100%;
}
#table-wrapper2 table {
	width:100%;
}
/* #table-wrapper table * {
	background:yellow;
	color:black;
} */
#table-wrapper1 table thead th .text {
	position:absolute;   
	top:-20px;
	z-index:2;
	height:20px;
	width:35%;
	border:1px solid red;
}
#table-wrapper2 table thead th .text {
	position:absolute;   
	top:-20px;
	z-index:2;
	height:20px;
	width:35%;
	border:1px solid red;
}
.display-none {
    display: none;
}
#block_container {
    text-align:center;
}
#bloc1, #bloc2,#col-1-2-info,#col-2-2-info,#col-1-3-info,#col-2-3-info {
    display:inline;
}
#close {
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}