/*
colour pallette:
999797
656565
2C2C2C
000000
030202
*/

*,
*:before,
*:after {
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
	display: block;
}
body {
	margin: 0;
	background-color: #FFFFFF;
	font-size: 30px;
	color:#04A9F4;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
	margin-bottom: 12px;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: #000000;
}
h3 {
	font-size: 25px;
	font-weight: 600;
	color: #575757;
	text-align: center;
}
[class*="row-"] {
	margin-bottom: 20px;
}
[class*="row-"]:last-child {
	margin-bottom: 0;
}
[class*="col-"] {
}
[class*="col-"] {
	margin-right: 0px;
	float: left;
	border: 1px solid #04A9F4;
	padding: 25px 12px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background-color: rgb(255, 255, 255);
}
[class*="col-"]:last-child {
	margin-right: 0;
}
.col-1-4-box {
	width: 25%;
	max-height: 188px;
	overflow: hidden;
}
.col-1-2-box {
	width: 50%;
}
.col-full-box {
	width: 100%;
	text-align: left;
	display: block;
	float: none;
	overflow: auto;
}
.col-image-box {
	width: 100%;
	text-align: center;
	display: block;
	float: none;
	padding: 0px 0px;
}
[class*='detailed-results'] {
	margin: 0px auto;
	color: #656565;
}
[class*='detailed-results'] th {
	padding: 10px;
	color: #999797;
}
[class*='detailed-results'] td {
	text-align: center;
}
[class*='detailed-results'] td.UrlData {
	text-align: left;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	text-align: left;
	max-width:1200px;
}
[class='detailed-results-a2'] th {
	padding-left: 100px;
	padding-right: 100px;
}
.error {
	color: red;
}
.warning {
	color: rgb(255, 162, 0);
}
.success {
	color: rgb(3, 140, 3);
}
.imageCompareTable {
	margin: 0px auto;
	margin-bottom:20px;
	margin-top:10px;
}
.imageCompareTable th{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: underline;
	min-width: 300px;
}
.urlInfo:hover {
	background-color: rgb(255, 237, 177);
}
.imageToggleBoxMessage {
	margin-top:10px;
	margin-bottom:20px;
	color: #7b7b7b;
}
.imageCompareViewer {
	margin-top: 20px;
	margin-bottom: 20px;
}
a:link {
	color: #356cf5;
}
a:hover {
	color: #356cf5;
}
a:visited {
	color: #393939;
}
.piezConfigMessageHeader {
	font-size: 25px;
	color: orange;
	text-align: center;
	width: 50%;
	margin: auto;
}
.piezConfigMessageSteps ol {
	list-style-position: outside;
	font-size: 20px;
	color: orange;
	text-align: left;
	width: 50%;
	margin: auto;
}
.selectedImage {
	border: solid 4px orange;
	color: orange;
	padding:10px;
}
.unselectedImage {
	color: #a2a2a2;
	border: solid 4px #a2a2a2;
	padding:10px;
}
.selectedImage:hover {
	cursor: pointer;
	color: rgb(255, 255, 255);
	background-color: orange;
}
.unselectedImage:hover {
	cursor: pointer;
	color: rgb(75, 75, 75);
	background-color: #a2a2a2;
}
.toggleOriginalImage 	{
	position: absolute;
	border: 1px solid #504f4f;
	}
.toggleTransformedImage {
	position: relative;
	border: 1px solid #343434;
}
.imageToggleBox {
	margin-bottom: 20px;
}
.imageToggleBox:hover {
	cursor: pointer;
	}
.ajaxLoader {
	width: 60px;
	height: 60px;
	border: 1px solid rgb(0, 0, 0);
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #9f9f9f;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-name:loader;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes loader {
	0%{ -webkit-transform:  rotate(0deg);}
	100%{ -webkit-transform:  rotate(360deg)  ;}
}
.row {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -10px;
	margin-bottom: 0px;
}
.details {
	overflow: visible;
}
td {
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	white-space:nowrap;
}

.subHeaderInfo {
	text-align: center;
}

@media all and ( max-width: 1920px ) {
	.detailed-results td.urlData {
		max-width:1000px;
	}
}

@media all and ( max-width: 1600px ) {
	h1 {
		 margin-bottom: 12px;
		 text-align: center;
		 font-size: 30px;
		 font-weight: 400;
		 color: #000000;
		 min-height: 48px;
	}
	h3 {
		 font-size: 30px;
		 font-weight: 600;
		 color: #525252;
		 text-align: center;
	}
	table {
		font-size: 14px;
	}
	[class*="col-"] {
		margin-right: 0px;
		float: left;
		border: 1px solid #04A9F4;
		padding: 0px 12px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		background-color: rgb(250, 250, 250);
	}
	.detailed-results td.urlData {
		max-width:700px;
	}
}

@media all and ( max-width: 1200px ) {
	h1 {
		 text-align: center;
		 font-size: 30px;
		 font-weight: 400;
		 color: #000000;
		 min-height: 33px;
	}
	[class*="col-"] {
		padding: 15px 10px;
		vertical-align: middle;
	}
	h3 {
		 font-size: 30px;
		 font-weight: 600;
		 color: #525252;
		 text-align: center;
	}
	table {
		font-size: 12px;
	}
	.col-4-box {
		min-height: 180px;
		overflow: scroll;
	}

	.detailed-results td.urlData {
	 max-width:300px;
	}
}

@media all and ( max-width: 720px ) {
	h1 {
		 margin-bottom: 17px;
	}
	[class*="col-"] {
		margin-right: 0px;
		float: left;
		border: 1px solid #030202;
		padding: 50px 25px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		background-color: rgb(255, 255, 255);
	}
	.col-4-box {
		min-height: 180px;
		overflow: scroll;
	}

	.detailed-results td.urlData {
	 max-width:200px;
	}
}